$global-radius: 10px;

$text-colour-dark: #0a0a0a;
$text-colour-light: #f0f0f0;

// Grid
$container-width: 1440px;
$container-width-larger-than-mobile: 85%;
$container-width-larger-than-phablet: 80%;
$total-columns: 12;
$column-width: 100 / $total-columns; // calculates individual column width based off of # of columns
$column-margin: 4%; // space between columns

// Breakpoints
$bp-larger-than-mobile: 'min-width: 400px';
$bp-larger-than-phablet: 'min-width: 550px';
$bp-larger-than-tablet: 'min-width: 750px';
$bp-larger-than-desktop: 'min-width: 1000px';
$bp-larger-than-desktophd: 'min-width: 1200px';

/* Functions
   ========================================================================== */

@import 'skeleton-scss/scss/base/functions';

/* Normalise
   ========================================================================== */

@import 'normalize.css/normalize';

/* Grid
   ========================================================================== */

@import 'skeleton-scss/scss/modules/grid';

/* General
   ========================================================================== */

*,
::after,
::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html,
body,
header,
main,
footer {
	width: 100%;
}

html,
body,
main {
	min-height: 100vh;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: roboto, sans-serif;
	line-height: 1.5;
}

img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
}

textarea {
	height: auto;
	min-height: 50px;
	border-radius: $global-radius;
}

select {
	box-sizing: border-box;
	width: 100%;
	border-radius: $global-radius;
}

button {
	padding: 0;
	appearance: none;
	border: 0;
	background: transparent;
	line-height: 1;
	cursor: pointer;
}

pre {
	overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
}

p {
	margin-bottom: 1rem;
}

li {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}

img.centered {
	display: block;
	margin: 0 auto;
}

/* Header
   ========================================================================== */

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	height: 5rem;
	padding: 1rem;
	background-color: #b0cdc9;
	position: fixed;
	top: 0;
	z-index: 200;
}

.logo {
	margin-right: auto;

	&,
	img {
		height: 100%;
	}

	img {
		width: auto;
	}
}

#menu-toggle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-weight: bold;
	cursor: pointer;

	svg {
		width: auto;
		height: 1.2rem;
		margin-left: 0.8rem;
	}

	rect {
		transition: all 0.25s ease-in-out;
	}

	.has-menu-active & rect {
		&:first-child {
			transform: rotate(45deg) translate(4px, -4px);
			transform-origin: 0 0;
		}

		&:nth-child(2) {
			opacity: 0;
		}

		&:last-child {
			transform: rotate(-45deg) translate(4.5px, 2.5px);
			transform-origin: 0 100%;
		}
	}
}

nav {
	width: 100%;
	max-width: 14rem;
	height: 100%;
	background-color: white;
	position: fixed;
	top: 5rem;
	right: 0;
	bottom: 0;
	transform: translateX(100%);
	transition: transform ease-out 0.3s;

	ul {
		margin-bottom: 0;
		padding-left: 0;
	}

	li {
		width: 100%;
		padding: 1rem;
		text-align: right;
	}

	a {
		color: $text-colour-dark;
		font-size: 1.25rem;
		font-weight: bold;
	}

	.has-menu-active & {
		transform: translateX(0);
	}
}

// Desktop
@media (#{$bp-larger-than-tablet}) {
	#menu-toggle {
		display: none;
		visibility: hidden;
	}

	nav {
		width: auto;
		max-width: none;
		background-color: transparent;
		position: static;
		transition: none;
		transform: translateX(0);

		ul {
			margin-top: 0;
			margin-right: -1rem;
		}

		li {
			width: auto;
			padding-top: 0;
			padding-bottom: 0;
			float: left;
		}

		a {
			line-height: 3rem;
		}
	}
}

/* Content
   ========================================================================== */

main {
	height: auto;
	margin-top: 5rem;
}

section {
	width: 100%;
	height: auto;
	padding: 3rem 1rem;

	&.green {
		background-color: #d3ebe8;
	}

	&.full {
		min-height: calc(100vh - 5rem);
	}

	&.large {
		min-height: 75vh;
	}

	&.medium {
		min-height: 50vh;
	}

	&.small {
		min-height: 25vh;
	}
}

// Desktop
@media (#{$bp-larger-than-tablet}) {
	section.centered {
		&, .row {
			display: flex;
			align-items: center;
		}
	}
}

/*
 * Landing image
 */

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: calc(100vh - 5rem);

	.wrapper {
		display: flex;
		justify-content: space-between;

		> div {
			flex: 1;
		}
	}

	.title {
		font-size: 80px;
		margin-top: 0;
		margin-bottom: 1rem;
	}
}

/* Home */
.home {
	.hero {
		padding: 200px 1rem 1rem;
		background-image: url('../img/josefien-malta.png');
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: auto 93%;

		.title {
			font-size: 50px;
		}

		p {
			font-size: 20px;
		}

		.wrapper {
			display: flex;
			justify-content: space-between;
		}

		.design,
		.code {
			font-weight: bold;

			p {
				display: none;
				visibility: hidden;
			}
		}

		.code {
			text-align: right;
		}
	}

	// Desktop
	@media (#{$bp-larger-than-tablet}) {
		.hero {
			.wrapper {
				max-width: $container-width;
				margin: 0 auto;
			}

			.design,
			.code {
				min-width: 320px;
				max-width: 27.5%;
				padding: 1rem;

				p {
					display: block;
					visibility: visible;
				}
			}

			.code {
				background-color: white;
			}
		}
	}
}

/* About */
.about {
	.hero {
		background-image: url('../img/josefien-malta.png');
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: auto 93%;
		font-size: 20px;
	}

	.content img {
		width: 100%;
		height: auto;
	}

	// Desktop
	@media (#{$bp-larger-than-tablet}) {
		.hero {
			background-position: right -275px bottom;
		}

		.titel {
			max-width: 1000px;
			margin: 0 auto;
			width: 100%;
		}
	}
}

/*
 * Projecten
 */

.projecten {
	background-color: #d3ebe8;
	padding-bottom: 40px;
	margin-bottom: 70px;

	.section-title {
		margin-top: 0;
		margin-bottom: 2rem;
		font-size: 30px;
		text-align: center;
	}
}

.project-group {
	grid-gap: 3em;
	display: grid;
	grid-auto-rows: 280px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	max-width: $container-width;
	margin: auto;

	article {
		box-sizing: border-box;
		position: relative;
		padding: 5px;
		border: 0px, 20px, 20px, 0px;
		border: 2px #707070;
		background-color: #ededed;
		box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);

		&:hover {
			background-color: #d3e0de;
		}

		img {
			width: 100%;
			height: 70%;
			object-fit: cover;
		}

		.title {
			margin: 0.5em 0.5em 0;
			font-size: 20px;
		}

		p {
			margin: 0.2em 0.5em 0;
			color: #908989;
			font-size: 17px;
		}
	}
}

.project {
	h1 {
		font-size: 60px;
		padding-bottom: 10px;
	}

	.content {
		img {
			width: 100%;
			height: auto;
		}

		p {
			font-size: 20px;
		}
	}
}

.project-back {
	width: 47px;
	height: 47px;
	background-color: #b0cdc9;
	border-radius: $global-radius;
	font-size: 20px;
	position: fixed;
	top: 6rem;
	left: 1rem;
}

/* Footer
   ========================================================================== */

footer {
	width: 100%;
	padding: 50px 1rem;
	margin-top: 25px;
	background-color: #b0cdc9;
	text-align: center;
	font-size: 20px;
}

/* Misc
   ========================================================================== */

/* Responsive embed */
.responsive-embed {
	position: relative;
	height: 0;
	margin-bottom: 1rem;
	padding-bottom: 75%;
	overflow: hidden;

	&.widescreen {
		padding-bottom: 56.25%;
	}

	iframe,
	object,
	embed,
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/* ==========================================================================
   NOT REFACTORED
   ========================================================================== */

.niet {
	opacity: 1;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.omligging:hover .niet {
	opacity: 0.3;
}

.omligging:hover .middle {
	opacity: 1;
}

.text {
	background-color: #4caf50;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}

.headertekst {
	display: flex;
	align-items: center;
	font-size: 18px;
}

/*
 * Contact
 */

.contact {
	text-align: center;
}

.contact main {
	padding: 20px;
}

.contact-form {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.contact-form input[type='text'] {
	margin-top: 30px;
}

.contact-form input[type='text'],
.contact-form input[type='email'] {
	width: 100%;
	height: 45px;
	margin-bottom: 30px;
	padding-left: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
}

.contact-form textarea#message {
	width: 100%;
	height: 180px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
}

.add-btn.contact-btn {
	display: inline-block;
	margin-top: 30px;
	padding: 20px;
	border: 4px solid #3f7a6f;
	border-radius: 6px;
	background: #3f7a6f;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}

.add-btn.contact-btn:hover {
	border: 4px solid #2a564f;
	background: #2a564f;
}

/*
 * Responsive
 */

/* Tablet */
@media screen and (min-width: 481px) {




	/* Contact */
	.contact-form {
		width: 75%;
	}
}

/* Desktop */
@media screen and (min-width: 64rem) {
	/* Contact */
	.contact-form {
		width: 50%;
	}
}
