$global-radius: 10px;

$text-colour-dark: #0a0a0a;
$text-colour-light: #f0f0f0;

// Grid
$container-width: 960px;
$container-width-larger-than-mobile: 85%;
$container-width-larger-than-phablet: 80%;
$total-columns: 12;
$column-width: 100 / $total-columns; // calculates individual column width based off of # of columns
$column-margin: 4%; // space between columns

// Breakpoints
$bp-larger-than-mobile: 'min-width: 400px';
$bp-larger-than-phablet: 'min-width: 550px';
$bp-larger-than-tablet: 'min-width: 750px';
$bp-larger-than-desktop: 'min-width: 1000px';
$bp-larger-than-desktophd: 'min-width: 1200px';

/* Functions
   ========================================================================== */

@import 'skeleton-scss/scss/base/functions';

/* Normalise
   ========================================================================== */

@import 'normalize.css/normalize';

/* Grid
   ========================================================================== */

@import 'skeleton-scss/scss/modules/grid';

/* General
   ========================================================================== */

*,
::after,
::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	min-height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: roboto, sans-serif;
}

img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
}

textarea {
	height: auto;
	min-height: 50px;
	border-radius: $global-radius;
}

select {
	box-sizing: border-box;
	width: 100%;
	border-radius: $global-radius;
}

button {
	padding: 0;
	appearance: none;
	border: 0;
	background: transparent;
	line-height: 1;
	cursor: pointer;
}

pre {
	overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
}

p {
	margin-bottom: 1rem;
}

li {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}

/* Terug knop */
.back-button {
	background-color: #b0cdc9;
	width: 50px;
	height: 50px;
	font-size: 30px;
	color: white;
	font-family: 'Roboto', sans-serif;
	margin: 20px;
	border-radius: 19%;
	display: block;
	position: fixed;
}

/* Header
   ========================================================================== */

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 5rem;
	padding: 1rem;
	background-color: #b0cdc9;
	position: fixed;
	top: 0;
	z-index: 200;
}

.logo {
	width: auto;
	height: 100%;
	margin-right: auto;
}

#menu-toggle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-weight: bold;
	cursor: pointer;

	svg {
		width: auto;
		height: 1.2rem;
		margin-left: 0.8rem;
	}

	rect {
		transition: all 0.25s ease-in-out;
	}

	.has-menu-active & {
		rect:first-child {
			transform: rotate(45deg) translate(4px, -4px);
			transform-origin: 0 0;
		}

		rect:nth-child(2) {
			opacity: 0;
		}

		rect:last-child {
			transform: rotate(-45deg) translate(4.5px, 2.5px);
			transform-origin: 0 100%;
		}
	}
}

nav {
	width: 100%;
	max-width: 14rem;
	height: 100%;
	background-color: white;
	position: fixed;
	top: 5rem;
	right: 0;
	bottom: 0;
	transform: translateX(100%);
	transition: transform ease-out 0.3s;

	ul {
		margin-bottom: 0;
		padding-left: 0;
	}

	li {
		width: 100%;
		padding: 1rem;
		text-align: right;
	}

	a {
		color: $text-colour-dark;
		font-size: 1.25rem;
		font-weight: bold;
	}

	.has-menu-active & {
		transform: translateX(0);
	}
}

main {
	width: 100%;
	height: auto;
	min-height: 100vh;
	margin-top: 5rem;
}

.niet {
	opacity: 1;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.omligging:hover .niet {
	opacity: 0.3;
}

.omligging:hover .middle {
	opacity: 1;
}

.text {
	background-color: #4caf50;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}

/* Sections */
section.groen {
	background-color: #d3ebe8;
}

.kolomEen,
.kolomTwee {
	width: 100%;
}

footer {
	width: 100%;
	padding: 50px 20px;
	margin-top: 25px;
	background-color: #b0cdc9;
	text-align: center;
	font-size: 22px;
}

footer .kolomTwee {
	max-width: 1400px;
}

.headertekst {
	display: flex;
	align-items: center;
	font-size: 18px;
}

/*
 * Landing image
 */

.landingImg {
	/* display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; */

	min-height: calc(100vh - 5rem);
	background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0)),
		url('../img/Josefien.%20Matla.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: auto 93%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 200px 20px 20px;
}

.landingImg .titel {
	display: flex;
	justify-content: space-between;
}

.landingImg div h1 {
	font-size: 50px;
}

.landingImg .Design {
	font-family: roboto, bold;
	text-align: left;
}

.landingImg .titelcode {
	font-family: roboto, bold;
	text-align: right;
}

/*
 * About
 */

#abouttekst h1 {
	font-size: 80px;
}

#abouttekst p {
	font-size: 20px;
}

.aboutmeall {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
}

.aboutmep {
	display: flex;
	align-items: center;
	font-size: 18px;
}

#aboutme {
	background-color: #d3ebe8;
	padding: 20px;
	margin-bottom: 70px;
}

#aboutme img {
	width: 100%;
	height: auto;
}

/*
 * Projecten
 */

.container-projecten {
	background-color: #d3ebe8;
	padding-bottom: 40px;
	margin-bottom: 70px;
}

.container-projecten .mijnwerk {
	padding-top: 40px;
	padding-bottom: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	text-align: center;
}

.projecten {
	grid-gap: 3em;
	display: grid;
	grid-auto-rows: 280px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	max-width: 1400px;
	margin: auto;
	padding: 10px;
}

.projecten article {
	box-sizing: border-box;
	position: relative;
	margin-top: 20px;
	padding: 5px;
	border: 0px, 20px, 20px, 0px;
	border: 2px #707070;
	background-color: #ededed;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.projecten article img {
	width: 100%;
	height: 70%;
	object-fit: cover;
}

.projecten article h1 {
	margin-top: 0.5em;
	margin-right: 0.5em;
	margin-left: 0.5em;
	font-size: 20px;
}

.projecten article p {
	margin-top: 0.2em;
	margin-right: 0.6em;
	margin-left: 0.6em;
	color: #908989;
	font-size: 17px;
}

.projecten article:hover {
	background: #d3e0de;
}

/* project */
.project section {
	padding: 20px;
}

.project section.full {
	min-height: calc(100vh - 5rem);
}

.project section.full h1 {
	font-size: 60px;
	padding-bottom: 10px;
}

.kolomTwee h1 {
	padding-bottom: 20px;
}

.project section.large {
	min-height: 75vh;
}

.project section.medium {
	min-height: 50vh;
}

.project section.small {
	min-height: 25vh;
}

.project section img {
	width: 100%;
	height: auto;
}

.project section p {
	font-size: 20px;
}

.project .headertekst {
	font-size: 20px;
}

/*
 * Contact
 */

.contact {
	text-align: center;
}

.contact main {
	padding: 20px;
}

.contact-form {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.contact-form input[type='text'] {
	margin-top: 30px;
}

.contact-form input[type='text'],
.contact-form input[type='email'] {
	width: 100%;
	height: 45px;
	margin-bottom: 30px;
	padding-left: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
}

.contact-form textarea#message {
	width: 100%;
	height: 180px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
}

.add-btn.contact-btn {
	display: inline-block;
	margin-top: 30px;
	padding: 20px;
	border: 4px solid #3f7a6f;
	border-radius: 6px;
	background: #3f7a6f;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}

.add-btn.contact-btn:hover {
	border: 4px solid #2a564f;
	background: #2a564f;
}

/* Responsive embed */
.responsive-embed {
	position: relative;
	height: 0;
	margin-bottom: 1rem;
	padding-bottom: 75%;
	overflow: hidden;
}

.responsive-embed.widescreen {
	padding-bottom: 56.25%;
}

.responsive-embed iframe,
.responsive-embed object,
.responsive-embed embed,
.responsive-embed video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
 * Responsive
 */

/* Mobiel */
@media screen and (max-width: 480px) {
	.landingImg div p {
		display: none;
	}
}

/* Tablet */
@media screen and (min-width: 481px) {
	.landingImg div p {
		font-size: 25px;
	}

	.landingImg .titel > div {
		max-width: 25%;
	}

	.landingImg .titel {
		max-width: 1200px;
		margin: 0 auto;
	}

	.titelcode {
		font-family: roboto, bold;
		text-align: right;
		background-color: white;
	}

	.landingImg .titel > div {
		padding: 20px;
	}

	/* Sections */
	section.centreren {
		display: flex;
		align-items: center;
	}

	section.centreren .kolomEen,
	section.centreren .kolomTwee {
		align-items: center;
	}

	.kolomEen,
	.kolomTwee {
		max-width: 1000px;
		margin: 0 auto;
		display: grid;
	}

	.kolomEen {
		grid-template-columns: 1fr;
	}

	.kolomTwee {
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 20px;
	}

	/* About */
	.about .landingImg {
		background-position: right -275px bottom;
		padding-top: 20px;
	}

	.about .titel {
		max-width: 1000px;
		margin: 0 auto;
		width: 100%;
	}

	/* Projecten */
	.project section img {
		height: 500px;
		width: auto;
	}

	/* Contact */
	.contact-form {
		width: 75%;
	}
}

/* Desktop */
@media screen and (min-width: 64rem) {
	#menu-toggle {
		display: none;
	}

	nav ul {
		position: relative;
		top: 0;
		right: 0;
		flex-direction: row;
	}

	nav ul li {
		width: auto;
		min-width: inherit;
		transform: translateX(0);
		background-color: none;

		background-color: #b0cdc9;
	}

	nav ul li:last-child {
		padding-bottom: 0;
	}

	/* Contact */
	.contact-form {
		width: 50%;
	}
}
